<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Case</title>
  </head>
  <body>
    <h1>Hi {{user.first_name}} {{user.last_name}} !</h1>
    <h1>{{case.title}}</h1>
    <p>
      client: {{case.client.first_name}} {{case.client.middle_name}}
      {{case.client.last_name}}
    </p>
    <p>description: {{case.description}}</p>
    <p>related provider: {{case.provider.name}}</p>
    <h2>Case comments:</h2>

    <table>
      <thead style="text-align: center; font-weight: bold; padding: 10px">
        <tr>
          <td>date</td>
          <td>added by</td>
          <td>comment</td>
        </tr>
      </thead>
      {% for comment in case_comments %}
      <tbody>
        <td>{{comment.created_at}}</td>
        <td>{{comment.user_id}}</td>
        <td>{{comment.comment}}</td>
      </tbody>
      {% endfor %}
    </table>
  </body>
</html>
